@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body, html {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color:rgb(12, 18, 44);
}

body{
    position: relative;
}

.jogo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:center;
    gap: 20px;
    color: white;
    padding-top: 0vh;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.painelA{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: 250px;
    min-width: 170px;
}

.placar{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 10px;
}

.meu-placar{
    color: lightgreen;
}

.painelB{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painelC{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: 250px;
    min-width: 170px;
}

.título{
    font-family: 'Pacifico';
    font-size: 8vh;
    margin-block-start: 9vh;
    margin-block-end: 0vh;
}

.ui{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 3vh;
    max-width: 60vh;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    margin-bottom: 1vh;
}

.tempo{
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: 3vw;
    color: yellow;
}

.pontuação{
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: 3vw;
    color: white;
}

/*Os estilos do tabuleiro são dados no script.*/

.tabuleiro{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    position: relative;
    width: 80vw;
    height: 80vw;
    max-width: 66vh;
    max-height: 66vh;
}

.tabuleiro-pontos{
    /*image-rendering: pixelated;*/
    width: 98%;
    height: 98%;
    position: absolute;
    z-index: 1;
    margin: 1%;
}

.tabuleiro-jogadores{
    /*image-rendering: pixelated;*/
    width: 98%;
    height: 98%;
    position: absolute;
    z-index: 2;
    margin: 1%;
}

.tabuleiro-animações{
    /*image-rendering: pixelated;*/
    width: 98%;
    height: 108%;
    position: absolute;
    z-index: 3;
    margin: 1%;
    top: -10%;
}

.cursor{
    background-color: rgb(254, 113, 113);
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(12, 18, 44);
    border-style: solid;
    box-sizing: border-box;
}

.meu-cursor{
    background-color: white;
}

.ponto{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.ponto span{
    background-color:rgb(255, 255, 255);
    width: 8px;
    height: 8px;
    border-radius: 50px;
}

.controlador-touch{
    position: fixed;
    z-index: 2;
    height: 150px;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.touch-cima, .touch-baixo{
    height: 50%;
    width: 100%;
}

.touch-cima{
    background-color:rgba(255, 255, 255, 0.01);
}

.touch-baixo{
    background-color:rgba(255, 255, 255, 0.01);
}

.touch-esquerda, .touch-direita{
    background-color:rgba(255, 255, 255, 0.01);
}

.touch-meio{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.touch-esquerda, .touch-direita{
    height: 100%;
    width: 30%
}

.tela-game-over{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 3;
    background: linear-gradient(rgba(4, 6, 14, 0.6),rgba(4, 6, 14, 0.99) 30%,rgba(4, 6, 14, 0.99) 86%,rgba(4, 6, 14, 0.6) 100%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.recorde{

    color: white;
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: 4vw;
    margin-top: 0;
}

.resultado{

    color: white;
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: 6vw;
    margin-top: 0;
}

.high-score{
    color: white;
    font-family: 'Pacifico';
    font-size: 4vw;
    margin-bottom: 1%;
}

.game-over{
    color: white;
    font-family: 'Pacifico';
    font-size: 7vw;
    margin-bottom: 0;
}

@media only screen and (max-height: 400px){


    .título{
        font-family: 'Pacifico';
        font-size: 11vh;
        margin-block-start: 9vh;
        margin-block-end: 2vh;
    }
}

@media only screen and (max-width: 500px){


    .tempo, .pontuação {
        font-size: 15px;
     }
}

@media only screen and (max-width: 780px){
    .painelA{
        order: 2;
    }
    .painelB{
        order: 1;
    }
    .painelC{
        order: 3;
    }
    .jogo{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 600px){

    .game-over{
        font-size: 42px;
    }

    .resultado{
        font-size: 36px;
    }

    .high-score{
        font-size: 24px;
    }

    .recorde{
        font-size: 24px;
    }
}

@media screen and (min-width: 700px) {
    .tempo, .pontuação {
       font-size: 21px;
    }
}
