@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {

}

body{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:flex-start;
    gap: 20px;
    background-color:rgb(12, 18, 44);
    color: white;
    padding-top: 0vh;
}

.painelA{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: 250px;
}

.jogador{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 10px;
}

.painelB{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.título{
    font-family: 'Danfo';
    font-size: 40px;
}

.tabuleiro{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    width: 408px;
    height: 408px;
    position: relative;
}

.cursor{
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 2px;
}

.ponto{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.ponto span{
    background-color:aqua;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}

.pontuação{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}

